body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  background-color: #f1f1f1;
  overflow: hidden;
}

.item {
  float: left;
  padding: 10px 10px 7px 10px;
  text-decoration: none;
  font-size: 12px;
}

.item-menu {
  padding: 7.3px;
  width: 16px;
  text-align: center;
}

.nav-right {
  float: right;
}

.item:hover {
  background-color: lightgray;
}

/* Para la barra izquierda */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background-color: rgba(0,0,0, 0.85);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 12px}
  .overlay .closebtn {
  font-size: 30px;
  top: 10px;
  right: 10px;
  }
}
